FLORA_API_TOKEN=bmk_52fdb6e6e6e94d47e295509f242ce04f7eb246a0cea042b94dd44f04ce2de79c
FLORA_API_URL=https://flora.hooy.com.br/api/v1

# CHATKIT OpenAI (used when DEFAULT_API_PROVIDER=chatkit)
CHATKIT_OPENAI_API_KEY=
CHATKIT_WORKFLOW_ID=
CHATKIT_MODEL=gpt-4o-mini
CHATKIT_INSTRUCTIONS=

# flora|chatkit
DEFAULT_API_PROVIDER=flora
DEFAULT_API_PROVIDER_DEBUG=false